@font-face {
  font-family: "Brush Script MT";
  src: url("//db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.eot");
  src: url("//db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/33bc06ea126d3ff79886277122f1f510.svg#Brush Script MT")
      format("svg");
}

body,
html,
#root {
  height: 100vh;
  background-image: url("./Media/headphones.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html {
  font-size: 18px;
}

h1 {
  padding: 0.77rem 0;
  text-align: center;
  font-family: "Brush Script MT";
  font-size: 5.88rem;
  color: #fff;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}

h1 .highlight {
  color: #6c41ec;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding-left: 5vw;
  padding-right: 5vw;

  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
